discord.py==2.4.0
discord-ext-voice-recv==0.4.2a145
openai==1.59.6
python-dotenv==1.0.1
numpy<2
pyttsx3==2.98.0
gradio==3.34.0
apscheduler==3.10.4
openai-whisper==20240930
websockets==13.1
asyncio==3.4.3
Flask==3.1.0
flask-socketio==5.4.1
flask-cors==5.0.0
requests==2.32.3
