python-dotenv==1.0.1
pyyaml==6.0.2
websockets==13.1
requests==2.32.3
quart==0.20.0
wave==0.0.2
openai==1.59.6
pyttsx3==2.98.0

psutil # For mac
python-dateutil # For mac
ffmpeg==1.4 # May need to still install specifically for OS (not as pip or conda)

torch==2.5.1 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu124
transformers==4.48.0

git+https://github.com/limitcantcode/Retrieval-based-Voice-Conversion.git
git+https://github.com/One-sixth/fairseq.git