{% import 'base/base_elements.html' as elements %}

{% macro ResponsePreview() -%}
{% call elements.Card("Response Preview") %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io()

            $('form#response-preview').submit(async function(event) {
                event.preventDefault()
                if (event.originalEvent.submitter.id == "response-preview-stop") {
                    console.log("Response Preview is stopping response...")
                    await fetch(
                        '/api/cancel_response',
                        {method: "GET"}
                    )
                }
            })

            socket.on('response_generated', function(msg, cb) {
                if ('response' in msg) {
                    $('#respond-preview-content').text(msg.response);
                } else {
                    console.log("J.A.I.son response websocket data malformed.")
                    console.log(msg)
                }

                if (cb)
                    cb();
            });
        })
    </script>
    <form id="response-preview">
        <div style="min-height:100px; width:100%; overflow-wrap:anywhere">
            <span id="respond-preview-content">Hi, I'm response</span>
        </div>
        {{ elements.SecondaryButton("Stop", "response-preview-stop") }}
    </form>
{% endcall %}
{%- endmacro %}

{% macro Prompter() -%}
{% call elements.Card("Prompter") %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(async function() {
            const get_prompt_files = async () => {
                const response = await fetch("/api/get_prompt_filenames", {method: "GET"})
                const parsed_response = await response.json()
                return parsed_response['result']
            }

            const get_current_prompt = async () => {
                const response = await fetch("/api/get_current_prompt", {method: "GET"})
                return await response.json()
            }

            const set_prompt_file = async (filename) => {
                const response = await fetch(
                    "/api/load_prompt_file",
                    {
                        method: "POST",
                        body: JSON.stringify({filename: filename})
                    }
                )
                const parsed_response = await response.json()
                return parsed_response['status']
            }

            const reload_prompt_file_options = async () => {
                const prompt_filenames = await get_prompt_files()
                const dropdown = $("select#prompter-load-drop")
                dropdown.empty()
                for (const filename of prompt_filenames) {
                    dropdown.append(`<option value="${filename}">${filename}</option>`)
                }
                const curr_prompt_o = await get_current_prompt()
                dropdown.val(curr_prompt_o.filename)
                $("textarea#prompter-content").val(curr_prompt_o.prompt)
            }

            const save_prompt_file = async (filename, contents) => {
                const response = await fetch(
                    "/api/save_prompt_file",
                    {
                        method: "POST",
                        body: JSON.stringify({filename: filename, contents: contents})
                    }
                )
                const parsed_response = await response.json()
                return parsed_response['status']
            }

            const set_context_toggles = async (toggles) => {
                const response = await fetch(
                    "/api/set_context_toggles",
                    {
                        method: "POST",
                        body: JSON.stringify(toggles)
                    }
                )
                const parsed_response = await response.json()
                return parsed_response['status']
            }

            const get_context_toggles = async () => {
                const response = await fetch(
                    "/api/get_context_toggles",
                    {method: "GET"}
                )
                const parsed_response = await response.json()
                return parsed_response['result']
            }

            const load_context_toggles = async () => {
                toggles = await get_context_toggles()
                for (const [k, v] of Object.entries(toggles)) {
                    $(`input#prompter-check-${k}`).prop('checked', v)
                }
            }

            $("textarea").each(function () {
                this.style.height = this.scrollHeight + "px";
                this.style.overflowY = "hidden";
            }).on("input", function () {
                this.style.height = "auto";
                this.style.height = this.scrollHeight + "px";
            });

            $('form#prompter').submit(async function(event) {
                event.preventDefault()
                if (event.originalEvent.submitter.id == "prompter-load") {
                    filename = $('select#prompter-load-drop').val()
                    console.log(`Prompter loading prompt ${filename} ...`)
                    await set_prompt_file(filename)
                    await reload_prompt_file_options()
                } else if (event.originalEvent.submitter.id == "prompter-save-as") {
                    filename = $('input#prompter-save').val()
                    contents = $('textarea#prompter-content').val()
                    console.log(`Prompter saving prompt config to ${$('input#prompter-save').val()} ...`)
                    await save_prompt_file(filename, contents)
                    await reload_prompt_file_options()
                } else if (event.originalEvent.submitter.id == "prompter-apply") {
                    console.log(`Prompter applying changes...`)
                    toggles = {
                        "script": $('input#prompter-check-script').is(':checked'),
                        "twitch-chat": $('input#prompter-check-twitch-chat').is(':checked'),
                        "twitch-events": $('input#prompter-check-twitch-events').is(':checked'),
                        "rag": $('input#prompter-check-rag').is(':checked'),
                        "av": $('input#prompter-check-av').is(':checked')
                    }
                    console.log(toggles)
                    await set_context_toggles(toggles)
                }
            })

            await reload_prompt_file_options()
            await load_context_toggles()
        })
    </script>
    <form id="prompter">
        {{ elements.PrimaryButton("Load", "prompter-load") }} <select id="prompter-load-drop" style="min-width:300px; height:30px; font-size:15px">
            <option value="temp">REPLACE WITH PROMPT CONFIG OPTIONS</option>
        </select><br/>
        {{ elements.PrimaryButton("Save As", "prompter-save-as") }} <input type="text" id="prompter-save" style="min-width:300px; height:30px; font-size:15px"/><br/>
        <br/>
        <span>Main Prompt</span>
        <textarea id="prompter-content" style="width:100%; min-height:100px;"></textarea><br/>
        <br/>
        <input type="checkbox" id="prompter-check-script" /><span>Main Conversation Context</span><br/>
        <input type="checkbox" id="prompter-check-twitch-chat" /><span>Twitch Chat Context</span><br/>
        <input type="checkbox" id="prompter-check-twitch-events" /><span>Twitch Events Context</span><br/>
        <input type="checkbox" id="prompter-check-rag" /><span>RAG Context</span><br/>
        <input type="checkbox" id="prompter-check-av" /><span>Audio and Vision Context</span><br/>
        <br/>
        {{ elements.PrimaryButton("Update Context", "prompter-apply") }}
    </form>
{% endcall %}
{%- endmacro %}

{% macro OneTimeRequest() -%}
{% call elements.Card("One-time Request") %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("textarea").each(function () {
                this.style.height = this.scrollHeight + "px";
                this.style.overflowY = "hidden";
            }).on("input", function () {
                this.style.height = "auto";
                this.style.height = this.scrollHeight + "px";
            });

            $('form#ot-request').submit(async function(event) {
                event.preventDefault()
                if (event.originalEvent.submitter.id == "ot-request-send") {
                    console.log(`One-time Request sending request ${$('textarea#ot-request-content').val()} ...`)
                    
                    const response = await fetch("/api/one-time-request", {
                        method: "POST",
                        body: JSON.stringify({  message: $('textarea#ot-request-content').val() })
                    })
                    const parsed_response = await response.json()
                    if (parsed_response.status) {
                        console.log("Successfully requested!")
                        $('textarea#ot-request-content').val('')
                    }
                }
            })
        })
    </script>
    <form id="ot-request">
        <textarea id="ot-request-content" style="width:100%; min-height:100px;"></textarea><br/>
        <div style="width:100%; display:flex; justify-content:right;">
            {{ elements.PrimaryButton("Send", "ot-request-send") }}
        </div>
    </form>
{% endcall %}
{%- endmacro %}

{% macro NameReplacer() -%}
{% call elements.Card("Name Replacer") %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(async function() {
            var replace_count = 0;

            const add_replace_entry = (entry_actual = null, entry_replacement = null) => {
                replace_count += 1
                var new_entry = (
                    `<div id="name-replacer-entry-${replace_count}" style="outline: white solid 1px; padding:3px">
                        <input type="text" id="name-replacer-actual-${replace_count}" placeholder="Actual" style="width:150px" />
                        <input type="text" id="name-replacer-replaced-${replace_count}" placeholder="Replacement" style="width:150px" />
                        <button type="submit" id="name-replacer-delete-${replace_count}">Delete</button>
                        <br/>
                    </div>`
                )
                $("div#name-replacer-content").append(new_entry)

                if (entry_actual) {
                    $(`input#name-replacer-actual-${replace_count}`).val(entry_actual)
                    $(`input#name-replacer-replaced-${replace_count}`).val(entry_replacement)
                }
            }

            const delete_replace_entry = (id) => {
                $(`div#name-replacer-entry-${id}`).remove()
            }
            
            const repopulate_entries = async () => {
                const response = await fetch('/api/get_name_translations', { method: "GET" })
                var entries = await response.json()
                entries = entries.result
                $("div#name-replacer-content").html()
                for (ind in entries) {
                    entry = entries[ind]
                    add_replace_entry(entry.name, entry.translation)
                }
            }

            const save_entries = async () => {
                const entries = []
                $("div#name-replacer-content").children("div").each( function(ind) {
                    entry_id = $(this).attr('id').slice("name-replacer-entry-".length)
                    name = $(this).children(`input#name-replacer-actual-${entry_id}`).val()
                    translation = $(this).children(`input#name-replacer-replaced-${entry_id}`).val()
                    if (name.length > 0 && translation.length > 0) {
                        entries.push({name, translation})
                    }
                })
                if (entries.length > 0) {
                    const response = await fetch('/api/save_name_translations', {
                        method: "POST",
                        body: JSON.stringify({ translations: entries })
                    })
                }

            }

            $('form#name-replacer').submit(async function(event) {
                event.preventDefault()
                if (event.originalEvent.submitter.id == "name-replacer-add") {
                    console.log(`Name Replacer adding new entry...`)
                    add_replace_entry()
                } else if (event.originalEvent.submitter.id.startsWith("name-replacer-delete-")) {
                    console.log(`Name Replacer deleting entry...`)
                    entry_id = event.originalEvent.submitter.id.slice("name-replacer-delete-".length)
                    delete_replace_entry(entry_id)
                } else if (event.originalEvent.submitter.id == "name-replacer-save") {
                    console.log(`Name Replacer saving replacements...`)
                    await save_entries()
                } else if (event.originalEvent.submitter.id == "name-replacer-cancelling") {
                    console.log(`Name Replacer undoing changes...`)
                    await repopulate_entries()
                }
            })

            await repopulate_entries()
        })
    </script>
    <form id="name-replacer">
        <div id="name-replacer-content">
        </div>
        <div style="width:100%; display:flex;">
            <div style="width:100%; display:flex; justify-content:left;">
                {{ elements.PrimaryButton("New", "name-replacer-add") }}
                {{ elements.PrimaryButton("Save", "name-replacer-save") }}
            </div>
            <div style="width:100%; display:flex; justify-content:right;">
                {{ elements.SecondaryButton("Cancel", "name-replacer-cancel") }}
            </div>
        </div>
    </form>
{% endcall %}
{%- endmacro %}