{% macro Toast() -%}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io("{{ host_server_url }}")
            var toast_clear_timer = null

            const clear_toasts = () => {
              $("div#toast-container").empty()
            }

            socket.on('toast_info', function(msg, cb) {
              $("div#toast-container").html(
                  `<div class="toast info" id="toast">
                      <h3>Info</h3>
                      <p>${msg}</p>
                  </div>`
              )
              clearTimeout(toast_clear_timer)
              toast_clear_timer = setTimeout(clear_toasts, 3000)
              if (cb)
                  cb();
            })

            socket.on('toast_success', function(msg, cb) {
              $("div#toast-container").html(
                `<div class="toast success" id="toast">
                  <h3>Success!</h3>
                  <p>${msg}</p>
                </div>` 
              )
              clearTimeout(toast_clear_timer)
              toast_clear_timer = setTimeout(clear_toasts, 3000)
              if (cb)
                  cb();
            })

            socket.on('toast_error', function(msg, cb) {
              $("div#toast-container").html(
                `<div class="toast error" id="toast">
                  <h3>An error occured!</h3>
                  <p>${msg}</p>
                </div>`
              )
              clearTimeout(toast_clear_timer)
              toast_clear_timer = setTimeout(clear_toasts, 3000)
              if (cb)
                  cb();
            })
        })
    </script>
    <div class="toast-container" id="toast-container"></div>
{%- endmacro %}