{% extends "base/base_page.html" %}
{% block title %}Assets{% endblock %}
{% block style_override %}
<link rel="stylesheet" href="static/assets.css" />
{% endblock %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io()

        var device_counter = 0;
        var audio_in_devices = null
        var audio_out_devices = null
        var video_in_devices = null
        var video_out_devices = null // Doesn't exist

        var audio_elements = []
        var subtitle_clear_timeout = null
        var is_audio_to_play = true

        const segment_words_by_end_ind = (message) => {
            const word_ends = []
            for (var i = 0; i < message.length; i++) {
                if (!message.charAt(i).match(/[a-z,A-Z]/i)) {
                    word_ends.push(i)
                }
            }
            word_ends.push(message.length)
            return word_ends
        }

        const play_audio = async (audio_buffer) => {
            var active_devices = []
            var source_nodes = []
            audio_elements = []
            $("form#audio-device-widget-list")
            .find("select")
            .each((ind, o) => {
                active_devices.push($(o).val())
            })
    
            for (const device_id of active_devices) {
                const audio_context = new AudioContext()
    
                const source_node = audio_context.createBufferSource()
                source_nodes.push(source_node)
                source_node.buffer = await audio_context.decodeAudioData(audio_buffer.slice(0))

                const destination = audio_context.createMediaStreamDestination()
                source_node.connect(destination)
    
                const audio_element = new Audio()
                audio_elements.push(audio_element)
                audio_element.srcObject = destination.stream
                await audio_element.setSinkId(device_id)
                audio_element.play()
            }

            for (const source of source_nodes) {
                source.start()
            }
        }

        const play_subtitles = async (subtitle, interval=50) => {
            const subtitler = $("div#subtitler-content")
            subtitler.empty()
            const word_ends = segment_words_by_end_ind(subtitle)
            for (const i of word_ends) {
                if (!is_audio_to_play) {
                    break
                }
                subtitler.text(subtitle.slice(0, i))
                var font_size = 50
                subtitler.css("font-size", font_size)
                while (true) {
                    if (subtitler.width() > 500 || subtitler.height() > 200) {
                        font_size -= 1
                        subtitler.css("font-size", font_size)
                    } else {
                        break
                    }
                }
                await new Promise(resolve => setTimeout(resolve, interval))
            }
        }

        async function play_response(response) {

            const audio_response = await fetch("http://localhost:5000/static/generated/response.wav")
            const audio_buffer = await audio_response.arrayBuffer()
            const audio_context = new AudioContext()
            const decoded_audio = await audio_context.decodeAudioData(audio_buffer.slice(0))
            const duration = decoded_audio.duration * 1000
            const subtitle_write_interval = Math.round(duration / segment_words_by_end_ind(response).length)
            subtitle_clear_timeout = setTimeout(() => {$("div#subtitler-content").empty()}, duration+3000)
            await audio_context.close()
            Promise.all([
                play_subtitles(response, interval=subtitle_write_interval),
                play_audio(audio_buffer)
            ])
        }

        function stop_response() {
            $("div#subtitler-content").empty()
            is_audio_to_play = false
            if (subtitle_clear_timeout) {
                clearTimeout(subtitle_clear_timeout)
            }
            for (const audio of audio_elements) {
                audio.pause()
            }
        }

        const add_audio = () => {
            device_counter += 1
            new_device = `<div id="audio-device-widget-device-${device_counter}">
                <select id="audio-device-widget-device-drop-${device_counter}" style="width:200px; overflow:hidden;">`
            for (ind in audio_out_devices) {
                device = audio_out_devices[ind]
                new_device += `<option value="${device.deviceId}">${device.label}</option>`
            }
            new_device += `</select> <button id="audio-device-widget-device-delete-${device_counter}" type="submit">Delete</button></div>`
            
            $("form#audio-device-widget-list").append(new_device)
        }

        const delete_audio = (id) => {
            $(`div#audio-device-widget-device-${id}`).remove()
        }

        navigator.mediaDevices.getUserMedia({audio: true, video: false}).then(o => {
            navigator.mediaDevices.enumerateDevices().then(p => {
                audio_in_devices = p.filter(({ kind, deviceId }) => kind === 'audioinput' && deviceId !== 'default' && deviceId !== 'communications' )
                audio_out_devices = p.filter(({ kind, deviceId }) => kind === 'audiooutput' && deviceId !== 'default' && deviceId !== 'communications' )
                video_in_devices = p.filter(({ kind, deviceId }) => kind === 'videoinput')
            })
        })

        $("button#audio-device-widget-add").on("click", (event) => {
            event.preventDefault()
            add_audio()
        })

        $("form#audio-device-widget-list").on("submit", (event) => {
            event.preventDefault()
            if (event.originalEvent.submitter.id.startsWith("audio-device-widget-device-delete-")) {
                audio_id = event.originalEvent.submitter.id.slice("audio-device-widget-device-delete-".length)
                delete_audio(audio_id)
            }
        })

        socket.on('response_generated', async function(msg, cb) {
            if ('response' in msg) {
                is_audio_to_play = true
                await play_response(msg.response)
            } else {
                console.log("J.A.I.son response websocket data malformed.")
                console.log(msg)
            }
            if (cb)
                cb();
        })

        socket.on('request_stop_response', function(msg, cb) {
            stop_response()

            if (cb)
                cb();
        })
    })
</script>
<div style="position:fixed;width:100vw;height:100vh;">
    <div id="audio-device-widget" style="position:absolute;top:56px;left:10px;width:300px">
        {% call elements.Card("Audio Output") %}
            <form id="audio-device-widget-list"></form>
            {{ elements.PrimaryButton("Add", "audio-device-widget-add") }}
        {% endcall %}
    </div>
    <div id="subtitler" style="position:absolute;bottom:0;padding-bottom:50px;width:100%;display:flex;justify-content:center;overflow-wrap:normal;text-align:center;color:white;-webkit-text-stroke-width:2px;-webkit-text-stroke-color:black;">
        <div id="subtitler-content" style="max-width:500px;"></div>
    </div>
</div>
{% endblock %}